body {
  text-align: center;
  background-image: url(./assets/thumbnail9.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  color: black;
}

input {
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  color: white;
}
input:focus {
  outline: none;
  border: none;
}
.addBtn {
  padding: 5px 9px;
  margin-left: 10px;
  border: 1px solid black;
  font-weight: 900;
  border-radius: 5px;
  cursor: pointer;
  background: black;
  color: white;
  border: 1px solid white;
}
button:active {
  transform: scale(0.98);
}

.lists button {
  padding: 6px 12px;
  margin-left: 5px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease all;
}
.text {
  flex: 1;
  font-weight: 900;
  font-size: 1.5rem;
}
.deleteBtn {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.moveBtn {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.lists {
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  position: relative;
  background-color: black;
  color: white;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.lists::after,
.lists::before {
  content: "";
  top: 50%;
  left: 50%;
  background-image: conic-gradient(
    from var(--angle),
    transparent -99%,
    white,
    white,
    black,
    white
  );
  translate: -50% -50%;
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  padding: 1px;
  border-radius: inherit;
  animation: spin 12s infinite linear;
}
.lists::before {
  filter: blur(3px);
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

* {
  box-sizing: border-box;
}

.formed {
  width: 400px;
  border: 1px solid;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  outline: none;
  position: relative;
  color: white;
  backdrop-filter: blur(12px);
}

.remember {
  display: flex;
  align-items: center;
}
#remmber {
  flex: 1;
}
#rem {
  white-space: nowrap;
  margin-left: 70px;
}
#rem2 {
  white-space: nowrap;
  margin-left: 30px;
}

button {
  padding: 8px 4px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 900;
  border-radius: 900px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
  background: transparent;
  border: 1px solid white;
  color: white;
}
button:active {
  transform: scale(0.98);
}
h1 {
  color: white;
  text-align: center;
}
.register {
  text-align: center;
}
a {
  text-decoration: none;
  font-weight: 900;
  color: white;
  font-size: 1.2em;
}
label,
a {
  white-space: nowrap;
}
#link {
  margin-left: 70px;
}

.master {
  position: relative;
}
.master input {
  background: transparent;
  border: none;
  color: white;
  border-bottom: 2px solid white;
  width: 100%;
}
.master #hove1,
.master #hove2 {
  position: absolute;
  left: 10px;
  top: -2px;
  transition: 0.25s ease;
  z-index: 1;
  font-size: 1.2em;
}

input[type="checkbox"] {
  accent-color: white;
  cursor: pointer;
  border-radius: 999px;
}
.message {
  font-weight: 900;
  font-size: 1.3em;
  transition: 1s ease;
  color: white;
}
.master input:focus + #hove1,
.master input:not(:placeholder-shown) + #hove1,
.master input:focus + #hove2,
.master input:not(:placeholder-shown) + #hove2 {
  top: -20px;
  font-weight: 900;
}

a {
  transition: 0.25s ease;
}
a:hover {
  color: rgb(89, 0, 255);
}
.pokiParent{
  border: 1px solid white;
  width: 400px;
  height: 150px;
  margin-top: 30px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pokiParent h2{
  color: white;
}
.pokiParent input{
  border: none;
  border-bottom: 1px solid white;
}
.pokiParent button{
  width: 30%;
  font-size: 1em;
  padding: 5px 2px;
  margin-bottom: 10px;
}
.pokiParent label{
  color: white;
  font-weight: 900;
  font-size: 1.4em;
}